<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form action="" method="POST" id="payment-form">
      <span class="payment-errors"></span>
      
      <div class="form-group">
        <label for="number">Card Number</label>
        <input type="text" size="20" class="form-control" id="number" data-stripe="number">
      </div>
      
      <div class="form-group">
        <label for="cvc">CVC</label>
        <input type="text" size="4" class="form-control" id="cvc" data-stripe="cvc">
      </div>
    
      <label for="exp">Expiration (MM/YYYY)</label>
      <div class="form-group">
        <div>
          <input type="text" size="2" class="form-control exp-field" id="exp" data-stripe="exp-month" />
          <span> / </span>
          <input type="text" size="4" class="form-control exp-field" data-stripe="exp-year">
        </div>
      </div>
    
      <input type="submit" class="btn btn-primary" value="Submit Payment">
    </form>
  </div>
</div>