<div class="row">
    <div class="col-sm-2">
        <div class="plan_box">
            <h3>Free Plan</h3>
            <p>
                No Charge<br>Nothing
            </p>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="plan_box">
            <h3>Basic Plan</h3>
            <p>
                No Charge<br>Nothing
            </p>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="plan_box">
            <h3>Premium Plan</h3>
            <p>
                No Charge<br>Nothing
            </p>
        </div>
    </div>
</div>